# **LIBRERÍAS**

In [ ]:
#Importar librerías
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
#Cargar el dataset
df = pd.read_csv('https://query.data.world/s/hemljxoec4fnxuefoccoywvohivnla')
df.head()

  Animal ID      Name  ...                   Breed        Color
0   A771830  *Bradley  ...            Pit Bull Mix   White/Blue
1   A779576    *Rajah  ...  Domestic Shorthair Mix  Brown Tabby
2   A741715  *Pebbles  ...  Domestic Shorthair Mix       Calico
3   A658751     Benji  ...      Border Terrier Mix          Tan
4   A721285       NaN  ...             Raccoon Mix   Black/Gray

[5 rows x 12 columns]

#Verificar y limpieza de datos

In [ ]:
#Describomos los datos, de esta manera podemos obtener el valor que mas se repite en cada columna
df.describe(include=[np.object])

       Animal ID   Name  ...                   Breed        Color
count      95367  65938  ...                   95367        95367
unique     85672  16383  ...                    2348          567
top      A721033  Bella  ...  Domestic Shorthair Mix  Black/White
freq          24    419  ...                   28334         9914

[4 rows x 12 columns]

In [ ]:
#Compruebo si faltan datos
df.isnull().sum().sort_values(ascending=False)

Outcome Subtype     52087
Name                29429
Outcome Type            7
Age upon Outcome        4
Sex upon Outcome        2
Animal ID               0
DateTime                0
MonthYear               0
Date of Birth           0
Animal Type             0
Breed                   0
Color                   0
dtype: int64

In [ ]:
#Imputación
#Reemplazamos los datos faltantes con los valores que más se repiten
df['Name'].replace(np.nan, 'Cockie', inplace = True)
df['Outcome Type'].replace(np.nan, 'Adoption	', inplace = True)
df['Outcome Subtype'].replace(np.nan, 'Partner', inplace = True)
df['Sex upon Outcome'].replace(np.nan, 'Neutered Male', inplace = True)
df['Age upon Outcome'].replace(np.nan, '1 year', inplace = True)

df.head()

  Animal ID      Name  ...                   Breed        Color
0   A771830  *Bradley  ...            Pit Bull Mix   White/Blue
1   A779576    *Rajah  ...  Domestic Shorthair Mix  Brown Tabby
2   A741715  *Pebbles  ...  Domestic Shorthair Mix       Calico
3   A658751     Benji  ...      Border Terrier Mix          Tan
4   A721285    Cockie  ...             Raccoon Mix   Black/Gray

[5 rows x 12 columns]

In [ ]:
#Describomos los datos, de esta manera podemos obtener el valor que mas se repite en cada columna
df.describe(include=[np.object])

       Animal ID    Name  ...                   Breed        Color
count      95367   95367  ...                   95367        95367
unique     85672   16384  ...                    2348          567
top      A721033  Cockie  ...  Domestic Shorthair Mix  Black/White
freq          24   29429  ...                   28334         9914

[4 rows x 12 columns]

In [ ]:
#Verifico si faltan datos
df.isnull().sum().sort_values(ascending=False)

Animal ID           0
Name                0
DateTime            0
MonthYear           0
Date of Birth       0
Outcome Type        0
Outcome Subtype     0
Animal Type         0
Sex upon Outcome    0
Age upon Outcome    0
Breed               0
Color               0
dtype: int64

In [ ]:
#Verificar los tipos de datos con lo que se van a trabajar
df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [ ]:
#Manejo de fechas
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], format="%m/%d/%Y")

In [ ]:
fecha_actual = pd.to_datetime( dt.date.today(), format="%Y/%m/%d")
#Validar si hay fechas mayores a la actual
df[df['Date of Birth']>fecha_actual]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Date of Birth, Outcome Type, Outcome Subtype, Animal Type, Sex upon Outcome, Age upon Outcome, Breed, Color]
Index: []

In [ ]:
df.dtypes

Animal ID                   object
Name                        object
DateTime                    object
MonthYear                   object
Date of Birth       datetime64[ns]
Outcome Type                object
Outcome Subtype             object
Animal Type                 object
Sex upon Outcome            object
Age upon Outcome            object
Breed                       object
Color                       object
dtype: object

In [ ]:
#Transformo de tipo objeto a datetime
df['MonthYear'] = pd.to_datetime(df['MonthYear'],infer_datetime_format=True)

In [ ]:
df.head()

  Animal ID      Name  ...                   Breed        Color
0   A771830  *Bradley  ...            Pit Bull Mix   White/Blue
1   A779576    *Rajah  ...  Domestic Shorthair Mix  Brown Tabby
2   A741715  *Pebbles  ...  Domestic Shorthair Mix       Calico
3   A658751     Benji  ...      Border Terrier Mix          Tan
4   A721285    Cockie  ...             Raccoon Mix   Black/Gray

[5 rows x 12 columns]

In [ ]:
#Compruebo que se realizaron los cambios
df.dtypes

Animal ID                   object
Name                        object
DateTime                    object
MonthYear           datetime64[ns]
Date of Birth       datetime64[ns]
Outcome Type                object
Outcome Subtype             object
Animal Type                 object
Sex upon Outcome            object
Age upon Outcome            object
Breed                       object
Color                       object
dtype: object

In [ ]:
#Verifico que valores se encuentran en la columna Age upon Outcome
df['Age upon Outcome'].unique()

array(['1 year', '5 months', '10 months', '5 years', '2 years', '1 month',
       '3 years', '8 months', '3 weeks', '9 years', '2 weeks', '4 months',
       '2 months', '6 years', '10 years', '13 years', '4 years',
       '6 months', '3 months', '11 years', '1 week', '9 months',
       '4 weeks', '11 months', '8 years', '7 years', '12 years',
       '7 months', '1 weeks', '3 days', '5 days', '14 years', '2 days',
       '5 weeks', '4 days', '15 years', '16 years', '17 years', '6 days',
       '1 day', '18 years', '0 years', '24 years', '19 years', '20 years',
       '22 years', '25 years', '-1 years'], dtype=object)

In [ ]:
#Busco las filas que contengan -1 years
df.loc[df.loc[:, 'Age upon Outcome'] == '-1 years']

      Animal ID   Name  ...                 Breed        Color
89541   A753893  Chato  ...  American Bulldog Mix  White/Brown

[1 rows x 12 columns]

In [ ]:
#Borro esa fila
df = df.drop([89541])

In [ ]:
#Compruebo que se borró
#Busco las filas que contengan -1 years
df.loc[df.loc[:, 'Age upon Outcome'] == '-1 years']

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Date of Birth, Outcome Type, Outcome Subtype, Animal Type, Sex upon Outcome, Age upon Outcome, Breed, Color]
Index: []

In [ ]:
#Describomos los datos, de esta manera podemos obtener el valor que mas se repite en cada columna
df.describe(include=[np.object])

       Animal ID    Name  ...                   Breed        Color
count      95366   95366  ...                   95366        95366
unique     85672   16384  ...                    2348          567
top      A721033  Cockie  ...  Domestic Shorthair Mix  Black/White
freq          24   29429  ...                   28334         9914

[4 rows x 10 columns]

#Aplicar algún método de ingeniería de características que sea adecuado para el proceso de transformación de sus datos (por ejemplo: standardization,normalization, etc.)

In [ ]:
#Agrego columna extra para tener solo el color principal de la mascota
df['Main Color']=0

def agregaColorPrin():
  for i in df.index :
    global txt_tmp 
    txt_tmp = df['Color'][i].split('/')
    df['Main Color'][i]=txt_tmp[0]

agregaColorPrin()

In [ ]:
#Compruebo 
df.head()

  Animal ID      Name  ...        Color   Main Color
0   A771830  *Bradley  ...   White/Blue        White
1   A779576    *Rajah  ...  Brown Tabby  Brown Tabby
2   A741715  *Pebbles  ...       Calico       Calico
3   A658751     Benji  ...          Tan          Tan
4   A721285    Cockie  ...   Black/Gray        Black

[5 rows x 13 columns]

In [ ]:
#Agrego otra columna para la cantidad de días
df['Days of stay'] = 0
#Lo calculo
tmp_date = df['MonthYear']-df['Date of Birth']

In [ ]:
#Agrego los valores a la columna (dias que se mantuvo la mascota en el refugio)
for i in df.index :
  df['Days of stay'][i]=int(str(tmp_date[i]).split(' ')[0])

In [ ]:
dfLabelEnc= df
df.head()

  Animal ID      Name  ...   Main Color Days of stay
0   A771830  *Bradley  ...        White          596
1   A779576    *Rajah  ...  Brown Tabby          166
2   A741715  *Pebbles  ...       Calico          310
3   A658751     Benji  ...          Tan         1949
4   A721285    Cockie  ...        Black          730

[5 rows x 14 columns]

#One-Hot Encoder 

#One-Hot Encoding in Python


#Using pandas

In [ ]:
df_new = pd.get_dummies(df, columns=["Outcome Type","Outcome Subtype","Animal Type","Sex upon Outcome","Breed","Main Color"], prefix="O_H", drop_first=False)
print("The transform data using get_dummies")
df_new.head()

The transform data using get_dummies

  Animal ID      Name  ... O_H_Yellow O_H_Yellow Brindle
0   A771830  *Bradley  ...          0                  0
1   A779576    *Rajah  ...          0                  0
2   A741715  *Pebbles  ...          0                  0
3   A658751     Benji  ...          0                  0
4   A721285    Cockie  ...          0                  0

[5 rows x 2454 columns]

In [ ]:
df_new.loc[df_new.loc[:, 'O_H_Adoption\t'] == '1']

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Date of Birth, Age upon Outcome, Color, Days of stay, O_H_Adoption, O_H_Adoption	, O_H_Died, O_H_Disposal, O_H_Euthanasia, O_H_Missing, O_H_Relocate, O_H_Return to Owner, O_H_Rto-Adopt, O_H_Transfer, O_H_Aggressive, O_H_At Vet, O_H_Barn, O_H_Behavior, O_H_Court/Investigation, O_H_Enroute, O_H_Field, O_H_Foster, O_H_In Foster, O_H_In Kennel, O_H_In Surgery, O_H_Medical, O_H_Offsite, O_H_Partner, O_H_Possible Theft, O_H_Rabies Risk, O_H_SCRP, O_H_Snr, O_H_Suffering, O_H_Underage, O_H_Bird, O_H_Cat, O_H_Dog, O_H_Livestock, O_H_Other, O_H_Intact Female, O_H_Intact Male, O_H_Neutered Male, O_H_Spayed Female, O_H_Unknown, O_H_Abyssinian Mix, O_H_Affenpinscher Mix, O_H_Afghan Hound Mix, O_H_Afghan Hound/Labrador Retriever, O_H_African Mix, O_H_Airedale Terrier, O_H_Airedale Terrier Mix, O_H_Airedale Terrier/Irish Terrier, O_H_Airedale Terrier/Labrador Retriever, O_H_Airedale Terrier/Miniature Schnauzer, O_H_Airedale Terrier/Otterhound, O_H_Airedale Terrier/Standard Poodle, O_H_Akbash Mix, O_H_Akita, O_H_Akita Mix, O_H_Akita/Australian Cattle Dog, O_H_Akita/Belgian Malinois, O_H_Akita/Border Collie, O_H_Akita/Chow Chow, O_H_Akita/German Shepherd, O_H_Akita/Great Pyrenees, O_H_Akita/Labrador Retriever, O_H_Akita/Mastiff, O_H_Akita/Pit Bull, O_H_Akita/Siberian Husky, O_H_Alaskan Husky, O_H_Alaskan Husky Mix, O_H_Alaskan Husky/Australian Shepherd, O_H_Alaskan Husky/Border Collie, O_H_Alaskan Husky/German Shepherd, O_H_Alaskan Husky/Labrador Retriever, O_H_Alaskan Husky/Miniature Pinscher, O_H_Alaskan Malamute, O_H_Alaskan Malamute Mix, O_H_Alaskan Malamute/Akita, O_H_Alaskan Malamute/Alaskan Husky, O_H_Alaskan Malamute/Australian Kelpie, O_H_Alaskan Malamute/Border Collie, O_H_Alaskan Malamute/German Shepherd, O_H_Alaskan Malamute/Labrador Retriever, O_H_Alaskan Malamute/Siberian Husky, O_H_American, O_H_American Bulldog, O_H_American Bulldog Mix, O_H_American Bulldog/American Staffordshire Terrier, O_H_American Bulldog/Basset Hound, O_H_American Bulldog/Blue Lacy, O_H_American Bulldog/Boxer, O_H_American Bulldog/Chinese Sharpei, O_H_American Bulldog/Dalmatian, O_H_American Bulldog/English Bulldog, O_H_American Bulldog/Great Pyrenees, ...]
Index: []

[0 rows x 2454 columns]

In [ ]:
df2 = df_new.drop(['Animal ID',"Name",'DateTime','MonthYear','Date of Birth','Age upon Outcome','Color','O_H_Adoption\t'], axis=1)

In [ ]:
df2

       Days of stay  O_H_Adoption  ...  O_H_Yellow  O_H_Yellow Brindle
0               596             1  ...           0                   0
1               166             1  ...           0                   0
2               310             1  ...           0                   0
3              1949             0  ...           0                   0
4               730             0  ...           0                   0
...             ...           ...  ...         ...                 ...
95362           511             0  ...           0                   0
95363           245             0  ...           0                   0
95364          2311             0  ...           0                   0
95365          1409             1  ...           0                   0
95366           868             0  ...           0                   0

[95366 rows x 2446 columns]

In [ ]:
dataFrameFinal = pd.concat([df2.iloc[:,1:], df2.iloc[:,0]], axis=1)

In [ ]:
dataFrameFinal.head()

   O_H_Adoption  O_H_Died  ...  O_H_Yellow Brindle  Days of stay
0             1         0  ...                   0           596
1             1         0  ...                   0           166
2             1         0  ...                   0           310
3             0         0  ...                   0          1949
4             0         0  ...                   0           730

[5 rows x 2446 columns]

#Dividir el dataset en training and testing

In [ ]:
from sklearn.model_selection import train_test_split
X = dataFrameFinal.drop('Days of stay', axis=1)
y = dataFrameFinal['Days of stay']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.30, 
                                                    random_state=1337)

#Selección de características.

In [ ]:
#RANDOM FOREST
RF = RandomForestClassifier(max_depth=7, n_estimators=100)
RF.fit(X_train, y_train)
y_pred_RF= RF.predict(X_test)

df = pd.DataFrame()

cols = ['Machine Learning Classification Method',
        'Train Accuracy', 
        'Test Accuracy', 
        "Top 1 Feature Predictor",
        "Top 2 Feature Predictor",
        "Top 3 Feature Predictor",
        "Top 4 Feature Predictor",
        "Top 5 Feature Predictor"]

df.loc['Machine Learning Classification Method', 
       'Details'] = 'Random Forest Classifier'
df.loc['Train Accuracy', 'Details'] = RF.score(X_train, y_train) 
df.loc['Test Accuracy', 'Details'] = RF.score(X_test, y_test)

feature_importances = X.columns[np.argsort(RF.feature_importances_)][-5:]
df.loc['Top 1 Feature Predictor', 'Details'] = feature_importances[4]
df.loc['Top 2 Feature Predictor', 'Details'] = feature_importances[3]
df.loc['Top 3 Feature Predictor', 'Details'] = feature_importances[2]
df.loc['Top 4 Feature Predictor', 'Details'] = feature_importances[1]
df.loc['Top 5 Feature Predictor', 'Details'] = feature_importances[0]

display(df)

                                                         Details
Machine Learning Classification Method  Random Forest Classifier
Train Accuracy                                          0.053344
Test Accuracy                                           0.046557
Top 1 Feature Predictor                              O_H_Unknown
Top 2 Feature Predictor                           O_H_Euthanasia
Top 3 Feature Predictor                          O_H_Rabies Risk
Top 4 Feature Predictor                             O_H_Adoption
Top 5 Feature Predictor                             O_H_Transfer

#Hallar X y Y

In [ ]:
X=dataFrameFinal.loc[:,['O_H_Euthanasia','O_H_Other','O_H_Unknown','O_H_Transfer','O_H_Rabies Risk']]
Y=dataFrameFinal['Days of stay']

In [ ]:
#Características de entrenamiento
X_train.tail()

       O_H_Adoption  O_H_Died  ...  O_H_Yellow  O_H_Yellow Brindle
87513             1         0  ...           0                   0
85159             1         0  ...           0                   0
9448              0         0  ...           0                   0
57533             1         0  ...           0                   0
3223              0         0  ...           0                   0

[5 rows x 2445 columns]

In [ ]:
#Características de test
y_train.tail()

87513    1465
85159     788
9448       92
57533     372
3223       38
Name: Days of stay, dtype: int64

#Standarisation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# conjunto de datos para la demostración
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

# el escalador - para la estandarización
from sklearn.preprocessing import StandardScaler
# estandarización: con StandardScaler de sklearn

# configurar el escalador
scaler = StandardScaler()

# # ajuste el escalador al juego de trenes, aprenderá los parámetros
scaler.fit(X_train)

# transformar trenes y conjuntos de prueba
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
scaler.mean_

array([0.43176643, 0.00906286, 0.00367008, ..., 0.12800348, 0.00769968,
       0.00095872])

In [ ]:
scaler.scale_

array([0.4953223 , 0.09476666, 0.06046993, ..., 0.33409368, 0.08740937,
       0.03094828])

In [ ]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [ ]:
np.round(X_train.describe(), 1)

       O_H_Adoption  O_H_Died  ...  O_H_Yellow  O_H_Yellow Brindle
count       66756.0   66756.0  ...     66756.0             66756.0
mean            0.4       0.0  ...         0.0                 0.0
std             0.5       0.1  ...         0.1                 0.0
min             0.0       0.0  ...         0.0                 0.0
25%             0.0       0.0  ...         0.0                 0.0
50%             0.0       0.0  ...         0.0                 0.0
75%             1.0       0.0  ...         0.0                 0.0
max             1.0       1.0  ...         1.0                 1.0

[8 rows x 2445 columns]

#Label Encoding

In [ ]:
bridge_types = dfLabelEnc['Outcome Type']
bridge_df = pd.DataFrame(bridge_types, columns=['Outcome Type'])
# converting type of columns to 'category'
bridge_df['Outcome Type'] = bridge_df['Outcome Type'].astype('category')
# Assigning numerical values and storing in another column
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Outcome Type'] = bridge_df['Outcome Type'].cat.codes
dfLabelEnc

      Animal ID      Name  ...   Main Color Days of stay
0       A771830  *Bradley  ...        White          596
1       A779576    *Rajah  ...  Brown Tabby          166
2       A741715  *Pebbles  ...       Calico          310
3       A658751     Benji  ...          Tan         1949
4       A721285    Cockie  ...        Black          730
...         ...       ...  ...          ...          ...
95362   A788329      Bane  ...        Black          511
95363   A788087  Midnight  ...        Black          245
95364   A759491   Charlie  ...          Tan         2311
95365   A722968   Glacier  ...   Seal Point         1409
95366   A780441    Junior  ...        Brown          868

[95366 rows x 14 columns]

In [ ]:
bridge_types = dfLabelEnc['Outcome Subtype']
bridge_df = pd.DataFrame(bridge_types, columns=['Outcome Subtype'])

# convertir el tipo de columnas a 'categoría'
bridge_df['Outcome Subtype'] = bridge_df['Outcome Subtype'].astype('category')
# Asignar valores numéricos y almacenar en otra columna
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Outcome Subtype'] = bridge_df['Outcome Subtype'].cat.codes
dfLabelEnc

      Animal ID      Name  ...   Main Color Days of stay
0       A771830  *Bradley  ...        White          596
1       A779576    *Rajah  ...  Brown Tabby          166
2       A741715  *Pebbles  ...       Calico          310
3       A658751     Benji  ...          Tan         1949
4       A721285    Cockie  ...        Black          730
...         ...       ...  ...          ...          ...
95362   A788329      Bane  ...        Black          511
95363   A788087  Midnight  ...        Black          245
95364   A759491   Charlie  ...          Tan         2311
95365   A722968   Glacier  ...   Seal Point         1409
95366   A780441    Junior  ...        Brown          868

[95366 rows x 14 columns]

In [ ]:
bridge_types = dfLabelEnc['Animal Type']
bridge_df = pd.DataFrame(bridge_types, columns=['Animal Type'])
# converting type of columns to 'category'
bridge_df['Animal Type'] = bridge_df['Animal Type'].astype('category')
# Assigning numerical values and storing in another column
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Animal Type'] = bridge_df['Animal Type'].cat.codes
dfLabelEnc

      Animal ID      Name  ...   Main Color Days of stay
0       A771830  *Bradley  ...        White          596
1       A779576    *Rajah  ...  Brown Tabby          166
2       A741715  *Pebbles  ...       Calico          310
3       A658751     Benji  ...          Tan         1949
4       A721285    Cockie  ...        Black          730
...         ...       ...  ...          ...          ...
95362   A788329      Bane  ...        Black          511
95363   A788087  Midnight  ...        Black          245
95364   A759491   Charlie  ...          Tan         2311
95365   A722968   Glacier  ...   Seal Point         1409
95366   A780441    Junior  ...        Brown          868

[95366 rows x 14 columns]

In [ ]:
bridge_types = dfLabelEnc['Sex upon Outcome']
bridge_df = pd.DataFrame(bridge_types, columns=['Sex upon Outcome'])
# converting type of columns to 'category'
bridge_df['Sex upon Outcome'] = bridge_df['Sex upon Outcome'].astype('category')
# Assigning numerical values and storing in another column
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Sex upon Outcome'] = bridge_df['Sex upon Outcome'].cat.codes
dfLabelEnc

      Animal ID      Name  ...   Main Color Days of stay
0       A771830  *Bradley  ...        White          596
1       A779576    *Rajah  ...  Brown Tabby          166
2       A741715  *Pebbles  ...       Calico          310
3       A658751     Benji  ...          Tan         1949
4       A721285    Cockie  ...        Black          730
...         ...       ...  ...          ...          ...
95362   A788329      Bane  ...        Black          511
95363   A788087  Midnight  ...        Black          245
95364   A759491   Charlie  ...          Tan         2311
95365   A722968   Glacier  ...   Seal Point         1409
95366   A780441    Junior  ...        Brown          868

[95366 rows x 14 columns]

In [ ]:
bridge_types = dfLabelEnc['Breed']
bridge_df = pd.DataFrame(bridge_types, columns=['Breed'])
# converting type of columns to 'category'
bridge_df['Breed'] = bridge_df['Breed'].astype('category')
# Assigning numerical values and storing in another column
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Breed'] = bridge_df['Breed'].cat.codes
dfLabelEnc

      Animal ID      Name  ...   Main Color Days of stay
0       A771830  *Bradley  ...        White          596
1       A779576    *Rajah  ...  Brown Tabby          166
2       A741715  *Pebbles  ...       Calico          310
3       A658751     Benji  ...          Tan         1949
4       A721285    Cockie  ...        Black          730
...         ...       ...  ...          ...          ...
95362   A788329      Bane  ...        Black          511
95363   A788087  Midnight  ...        Black          245
95364   A759491   Charlie  ...          Tan         2311
95365   A722968   Glacier  ...   Seal Point         1409
95366   A780441    Junior  ...        Brown          868

[95366 rows x 14 columns]

In [ ]:
bridge_types = dfLabelEnc['Main Color']
bridge_df = pd.DataFrame(bridge_types, columns=['Main Color'])
# converting type of columns to 'category'
bridge_df['Main Color'] = bridge_df['Main Color'].astype('category')
# Assigning numerical values and storing in another column
#bridge_df['Age upon Outcome_Cat'] = bridge_df['Age upon Outcome'].cat.codes
#bridge_df
dfLabelEnc['Main Color'] = bridge_df['Main Color'].cat.codes
dfLabelEnc

      Animal ID      Name  ... Main Color Days of stay
0       A771830  *Bradley  ...         55          596
1       A779576    *Rajah  ...         18          166
2       A741715  *Pebbles  ...         21          310
3       A658751     Benji  ...         50         1949
4       A721285    Cockie  ...          2          730
...         ...       ...  ...        ...          ...
95362   A788329      Bane  ...          2          511
95363   A788087  Midnight  ...          2          245
95364   A759491   Charlie  ...         50         2311
95365   A722968   Glacier  ...         46         1409
95366   A780441    Junior  ...         15          868

[95366 rows x 14 columns]

In [ ]:
dfLabelEnc2 = dfLabelEnc.drop(['Animal ID',"Name",'DateTime','MonthYear','Date of Birth','Age upon Outcome','Color'], axis=1)
dfLabelEnc2.describe()

       Outcome Type  Outcome Subtype  ...    Main Color  Days of stay
count  95366.000000      95366.00000  ...  95366.000000  95366.000000
mean       4.284074         12.76846  ...     25.107544    817.033010
std        3.997676          2.34406  ...     20.168611   1078.654268
min        0.000000          0.00000  ...      0.000000   -212.000000
25%        0.000000         13.00000  ...      5.000000     96.000000
50%        4.000000         13.00000  ...     18.000000    371.000000
75%        9.000000         13.00000  ...     50.000000   1095.000000
max        9.000000         19.00000  ...     57.000000   9137.000000

[8 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X = dfLabelEnc2.drop('Days of stay', axis=1)
y = dfLabelEnc2['Days of stay']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.30, 
                                                    random_state=1337)

#Selección de características.

In [ ]:
#RANDOM FOREST
RF = RandomForestClassifier(max_depth=7, n_estimators=100)
RF.fit(X_train, y_train)
y_pred_RF= RF.predict(X_test)

df = pd.DataFrame()

cols = ['Machine Learning Classification Method',
        'Train Accuracy', 
        'Test Accuracy', 
        "Top 1 Feature Predictor",
        "Top 2 Feature Predictor",
        "Top 3 Feature Predictor",
        "Top 4 Feature Predictor",
        "Top 5 Feature Predictor"]

df.loc['Machine Learning Classification Method', 
       'Details'] = 'Random Forest Classifier'
df.loc['Train Accuracy', 'Details'] = RF.score(X_train, y_train) 
df.loc['Test Accuracy', 'Details'] = RF.score(X_test, y_test)

feature_importances = X.columns[np.argsort(RF.feature_importances_)][-5:]
df.loc['Top 1 Feature Predictor', 'Details'] = feature_importances[4]
df.loc['Top 2 Feature Predictor', 'Details'] = feature_importances[3]
df.loc['Top 3 Feature Predictor', 'Details'] = feature_importances[2]
df.loc['Top 4 Feature Predictor', 'Details'] = feature_importances[1]
df.loc['Top 5 Feature Predictor', 'Details'] = feature_importances[0]

display(df)

                                                         Details
Machine Learning Classification Method  Random Forest Classifier
Train Accuracy                                          0.063665
Test Accuracy                                           0.055121
Top 1 Feature Predictor                              Animal Type
Top 2 Feature Predictor                          Outcome Subtype
Top 3 Feature Predictor                             Outcome Type
Top 4 Feature Predictor                         Sex upon Outcome
Top 5 Feature Predictor                                    Breed

#Interpretación de resultados

En este caso, al aplicar la técnica de Label Enconding a el dataset se obtuvieron unas métricas bajas, 6% para el Train Accuracy y 5% para el Test Accuracy. Random Forest permitió encontrar 5 características principales para el dataset al que se le aplicará el modelo, obteniendo: Animal Type, Outcome Subtype, Outcome Type, Sex upon Outcome, Breed. A pesar de que el algoritmo de Random Forest permitió encontrar estas características se recomienda aplicar la normalización a los datos para volver a aplocar Random Forest.

#Hallar X y Y

In [ ]:
X=dfLabelEnc2.loc[:,['Animal Type','Outcome Subtype','Outcome Type','Sex upon Outcome','Breed']]
Y=dfLabelEnc2['Days of stay']

#Standarisation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# conjunto de datos para la demostración
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

# el escalador - para la estandarización
from sklearn.preprocessing import StandardScaler
# estandarización: con StandardScaler de sklearn

# configurar el escalador
scaler = StandardScaler()

# # ajuste el escalador al juego de trenes, aprenderá los parámetros
scaler.fit(X_train)

# transformar trenes y conjuntos de prueba
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
scaler.mean_

array([   4.29648271,   12.7662682 ,    1.72321589,    2.1228354 ,
       1139.83289892,   25.05932051])

In [ ]:
scaler.scale_

array([  3.99748635,   2.34968786,   0.72737469,   1.11181151,
       522.72214311,  20.15941883])

In [ ]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [ ]:
np.round(X_train.describe(), 1)

       Outcome Type  Outcome Subtype  ...    Breed  Main Color
count       66756.0          66756.0  ...  66756.0     66756.0
mean            4.3             12.8  ...   1139.8        25.1
std             4.0              2.3  ...    522.7        20.2
min             0.0              0.0  ...      0.0         0.0
25%             0.0             13.0  ...    923.0         5.0
50%             4.0             13.0  ...   1036.0        18.0
75%             9.0             13.0  ...   1424.0        50.0
max             9.0             19.0  ...   2347.0        57.0

[8 rows x 6 columns]

In [ ]:
#Exportar dataset
dfLabelEnc2.to_csv('dataset.csv')
dfLabelEnc2.to_csv('dataset.csv', index=False)
dfLabelEnc2.to_csv('dataset.csv', encoding='utf-8')

[Clic para abrir el link del dataset](https://github.com/moferrin/datasetLimpio.git)